<!DOCTYPE html>
<html>
	<head>
		<title>Pittsburgh Humane Reports</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
		<!-- Import custom application styles -->
		<link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/ho-styles.css" media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<header>
			<nav class="indigo darken-2"> 
				<div class="container">
					<div class="nav-wrapper grey lighten-2">
						<a class="center brand-logo">Humane Reports</a>
				        <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>
					</div>
					<ul id="slide-out" class="side-nav">
						<center><li><a class="subheader">Menu</a></li></center>
						<li><a class="waves-effect" href="/dashboard">Dashboard</a></li>
						<li><a class="waves-effect" href="/archive">Archived Cases</a></li>
						<li><a class="waves-effect active" href="/account">My Account</a></li>
					</ul>
  					<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
				<div class="row margin-top-20 center">
					<button class="indigo btn waves-effect waves-light margin-left-10" name="action" id="start-trip-button">Start trip
					    <i class="material-icons right">navigation</i>
					</button>
				</div>

				<!-- Google Maps -->
				<div class="row">
					<div id="ho-map" class="margin-top-20"></div>
					<div id="infowindow-content">
						<img src="" width="16" height="16" id="place-icon">
						<span id="place-name"  class="title"></span><br>
						<span id="place-address"></span>
					</div>
				</div>

				<div class="row margin-top-30">
					<div class="col s12">
						<ul class="tabs z-depth-1 indigo lighten-1">
							<li class="tab col s3"><a class="active">Itinerary</a></li>
						</ul>
						<div class="col s12 z-depth-1" style="background-color: #eee">
							<% if (itinerary) { %>
								<ul class="collection sortable">
									<% for (var i=0; i < itinerary.length; i++) { %>
										<li class="collection-item avatar">
											<a href="javascript:removeFromItinerary('<%-itinerary[i]._id%>');"><i class="material-icons circle btn-floating waves-light waves-effect">clear</i></a>
											<span class="title"><b><u><%= itinerary[i].address.split(',')[0] %></u></b></span>
											<p>
												<% if (itinerary[i].incidentTypes.includes("1")) { %>
													Animal with inadequate shelter <br>
												<% } %>
												<% if (itinerary[i].incidentTypes.includes("2")) { %>
													Animal living in improper conditions <br>
												<% } %>
												<% if (itinerary[i].incidentTypes.includes("3")) { %>
													Animal tethered outside in improper conditions <br>
												<% } %>
												<% if (itinerary[i].incidentTypes.includes("4")) { %>
													Physical violence against animal <br>
												<% } %>
												<% if (itinerary[i].incidentTypes.includes("5")) { %>
													Neglect of animal's illness or injuries <br>
												<% } %>

												Received on <%= itinerary[i].received %>
											</p>

											<% if (itinerary[i].incidentTypes.includes("4") || itinerary[i].incidentTypes.includes("5") || itinerary[i].animalConditions.length > 0) { %>
												<div class="secondary-content"><span class="new badge red" data-badge-caption="">High</span><i class="material-icons">sort</i></div>
											<% } else { %>
												<div class="secondary-content"><i class="material-icons">sort</i></div>
											<% } %>
											
										</li>
									<% } %>
								</ul>
							<% } else { %>
								<br>
								<container>
									<row>
										<div class="row">
											<div class="col s12">
												You have nothing scheduled for today. 
												<br><br>
												Plan your day by using <a class="btn-floating grey"><i class="material-icons">add</i></a> below to add items to your itinerary.
											</div>
										</div>
									</row>
								</container>
								<br>
							<% } %>
						</div>
					</div>
				</div>

				<div class="row margin-top-30">
					<div class="col s12">
						<ul class="tabs z-depth-1 indigo lighten-1">
							<li class="tab col s3"><a class="active" href="#new">New</a></li>
							<li class="tab col s3"><a href="#in-progress">In Progress</a></li>
						</ul>

						<!-- New reports -->
						<div id="new" class="col z-depth-1 s12">
							<% if (newReports) { %>
								<ul class="collection">
									<% for (var i=0; i < newReports.length; i++) { %>
										<li class="collection-item avatar">
											<a href="javascript:addToItinerary('<%-newReports[i]._id%>');"><i class="material-icons circle btn-floating waves-light waves-effect">add</i></a>
											<span class="title"><b><u><%= newReports[i].address.split(',')[0] %></u></b></span>
											<p>
												<% if (newReports[i].incidentTypes.includes("1")) { %>
													Animal with inadequate shelter <br>
												<% } %>
												<% if (newReports[i].incidentTypes.includes("2")) { %>
													Animal living in improper conditions <br>
												<% } %>
												<% if (newReports[i].incidentTypes.includes("3")) { %>
													Animal tethered outside in improper conditions <br>
												<% } %>
												<% if (newReports[i].incidentTypes.includes("4")) { %>
													Physical violence against animal <br>
												<% } %>
												<% if (newReports[i].incidentTypes.includes("5")) { %>
													Neglect of animal's illness or injuries <br>
												<% } %>

												Received on <%= newReports[i].received %>
											</p>

											<% if (newReports[i].incidentTypes.includes("4") || newReports[i].incidentTypes.includes("5") || newReports[i].animalConditions.length > 0) { %>
												<div class="secondary-content"><span class="new badge red" data-badge-caption="">High</span></div>
											<% } %>
										</li>
									<% } %>
								</ul>
							<% } else { %>
								<br><center>There are currently no new reports!</center><br>
							<% } %>
						</div>
					
						<!-- In progress reports -->
						<div id="in-progress" class="col z-depth-1 s12">
							<% if (inProgressReports) { %>
								<ul class="collection">
									<% for (var i=0; i < inProgressReports.length; i++) { %>
										<li class="collection-item avatar">
											<a href="javascript:addToItinerary('<%-inProgressReports[i]._id%>');"><i class="material-icons circle btn-floating waves-light waves-effect">add</i></a>
											<span class="title"><b><u><%= inProgressReports[i].address.split(',')[0] %></u></b></span>
											<p>
												<% if (inProgressReports[i].incidentTypes.includes("1")) { %>
													Animal with inadequate shelter <br>
												<% } %>
												<% if (inProgressReports[i].incidentTypes.includes("2")) { %>
													Animal living in improper conditions <br>
												<% } %>
												<% if (inProgressReports[i].incidentTypes.includes("3")) { %>
													Animal tethered outside in improper conditions <br>
												<% } %>
												<% if (inProgressReports[i].incidentTypes.includes("4")) { %>
													Physical violence against animal <br>
												<% } %>
												<% if (inProgressReports[i].incidentTypes.includes("5")) { %>
													Neglect of animal's illness or injuries <br>
												<% } %>

												Received on <%= inProgressReports[i].received %>
												<br>
												Last visited on <%= inProgressReports[i].dateUpdated %>
											</p>

											<% if (inProgressReports[i].incidentTypes.includes("4") || inProgressReports[i].incidentTypes.includes("5") || inProgressReports[i].animalConditions.length > 0) { %>
												<div class="secondary-content"><span class="new badge red" data-badge-caption="">High</span></div>
											<% } %>
										</li>
									<% } %>
								</ul>
							<% } else { %>
								<br><center>There are currently no in progress reports!</center><br>
							<% } %>
						</div>
				</div>


			</div>
		</main>

		<br>
		<br>
		<br>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<!-- Google Maps -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn6V9t-lR5_9IzWjc5FGhBWj67bQQqpkY&callback=initMap"
        async defer></script>
		<!-- Import custom application javascript -->
		<script type="text/javascript" src="js/dashboard.js"></script>
	</body>
</html>